*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-image: url(task-images/bg-security.png);
    background-repeat: no-repeat;
    background-size: cover ;
}
.navbar{
    display: flex;
}
.logo{
    margin-left: 150px;
    margin-top: 40px;
}
.menu-container{
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-right: 10%;
    gap: 60px;
}
li{
    list-style: none;
    color: rgb(251,157,92);
}
li:hover{
    color: aqua;
    cursor: pointer;
}
.banner-container{
    display: flex;
}
.banner-left{
    margin-left: 200px;
    margin-top: 300px;
    text-align: center;
}
.upper-title{
    color: rgb(251,157,92);
    font-size: 20px;
    word-spacing: 15px;
}
.main-title{
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.read-btn{
    padding: 10px 10px;
    margin-top: 10px;
    color: black;
    background-color: rgb(251,157,92);
    font-weight: bolder;
    cursor: pointer;
}
.banner-img{
    margin-left: 150%;
    height: fit-content;
    width: auto;
}
.sec-badge{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 150px;
}
.services{
    display: flex;
}
.service-title{
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}
.service-title-description{
    text-align: center;
    width: 500px;
    margin: 0px auto;
}
.doted-design{
    display: block;
    margin: 5px auto;
}
.service-card{
    margin: auto;
    margin-top: 50px;
    width: 350px;
    height: fit-content;
    border-radius: 7px;
    text-align: center;
    /* border: 1px solid black; */
    box-shadow: 4px 4px 8px grey;
}
.service-img{
    margin-top: 20px;
}
.service-card-title{
    margin-top: 10px;
    font-size: 20px;
}
.doted-design-service{
    margin-bottom: 0px;
}
.service-description{
    width: auto;
    height: 100px;
    margin: 10px;
    margin-top: 0px;
    line-height: 1.2;
}

.footer-banner-container{
    display: flex;
}
.footer-banner-img{
    margin-top: 100px;
    margin-left: 10%;
    height: fit-content;
    width: auto;
}
.footer-banner-right{
    margin-left: 300px;
    margin-top: 120px;
    text-align: left;
}
.hire-btn{
    padding: 10px 10px;
    margin-top: 30px;
    color: black;
    background-color: rgb(13,202,240);
    font-weight: bolder;
    border: none;
    cursor: pointer;
}
.footer-banner-title{
    color: black;
    font-size: 50px;  
}
.footer-banner-title span{
    color: rgb(251,157,92);
    font-size: 50px;  
}
.footer-banner-description{
    margin-top: 10x;
    line-height: 1.4;
    width: 700px;
}
.footer-banner-call{
    display: flex;
    margin-top: 30px;
}
.footer-banner-call-img{
    width: 50px;
    margin-bottom: 10px;
}
.footer-banner-call-title{
    margin-left: 20px;
}
.footer-container{
    display: flex;
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
}
.col1{
    margin-top: 50px;
    margin-left: 180px;
    margin-bottom: 50px;
    text-align: center;
}
.col1-head{
    display: flex;
    justify-content: center;
}
.col1-img{
    width: 40px;
}
.col1-title{
    margin-top: 10px;
    color: rgb(251,157,92);
}
.col1-details{
    margin-top: 10px;
    color: rgb(193, 193, 193);
    width: 250px;
    text-align: center;
}
.col1-title-job{
    margin-top: 10px;
    color: rgb(251,157,92);
    text-align: center;
}
.input-box{
    background-color: rgb(53, 53, 53);
    height: 20px;
    width: 150px;
}
.col{
    margin-top: 50px;
    margin-left: 180px;
    margin-bottom: 50px;
    text-align: center;
}
.col-title{
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
}
.in-foot{
    color: rgb(198, 198, 198);
}
